"*":
  "activate-power-mode":
    autoToggle: false
    particles:
      enabled: true
      size:
        max: 5
        min: 1
      spawnCount:
        min: 2
    screenShake:
      maxIntensity: 4
      minIntensity: 2
  alignment: {}
  "atom-beautify":
    general:
      _analyticsUserId: "061edd24-4d2e-4dd9-8a6c-145dcb149a67"
  "atom-easy-jsdoc": {}
  "atom-material-ui":
    colors:
      abaseColor:
        red: 246
        green: 109
        blue: 136
        alpha: 1
      accentColor:
        red: 125
        green: 255
        blue: 229
        alpha: 1
      genAccent: true
      predefinedColor: "Purple"
    fonts:
      fontSize: 16
    tabs:
      compactTabs: true
    treeView:
      compactList: true
    ui:
      panelContrast: true
  "autoclose-html":
    additionalGrammars: [
      "*"
    ]
  autosave:
    enabled: true
  build:
    overrideThemeColors: false
    saveOnBuild: true
    selectTriggers: false
    statusBar: "Disable"
    stealFocus: false
  core:
    customFileTypes:
      "source.git-config": [
        "gitconfig"
      ]
      "source.plist": [
        "plist"
      ]
    disabledPackages: [
      "exception-reporting"
      "metrics"
      "autoclose-html"
      "status-bar"
      "npm"
    ]
    ignoredNames: [
      ".git"
      ".svn"
      ".DS_Store"
      ".scssc"
      ".sass-cache"
      ".map"
      ".cache"
      ".pyc"
      ".sqlite3"
      ".exe"
      ".dll"
      ".sublime-workspace"
      ".sublime-projects"
      "bower_components"
      "node_modules"
      "target"
      ".rej"
      "resources"
    ]
    projectHome: "~/Projects/"
    themes: [
      "atom-material-ui"
      "cake-syntax"
    ]
  docblockr:
    align_tags: "no"
    lower_case_primitives: true
    newline_after_block: true
    spacer_between_sections: true
  editor:
    autoIndentOnPaste: false
    fontFamily: "SourceCodePro-Light"
    invisibles: {}
    showIndentGuide: true
    showInvisibles: true
    softWrap: false
  "find-and-replace": {}
  "fuzzy-finder": {}
  "git-plus": {}
  "gruvbox-plus-syntax": {}
  linter:
    errorPanelHeight: 26
    showErrorPanel: false
  "linter-eslint": {}
  "linter-jscs":
    esnext: true
    onlyConfig: true
  "linter-jshint":
    disableWhenNoJshintrcFileInPath: true
  "linter-sass-lint":
    noConfigDisable: true
  "linter-scss-lint":
    disableWhenNoConfigFileInPath: true
  "markdown-preview": {}
  "markdown-writer":
    fileExtension: ".markdown, .md"
  minimap:
    plugins:
      pigments: true
      pigmentsDecorationsZIndex: 0
  "package-sync":
    forceOverwrite: true
  "quick-highlight": {}
  "release-notes":
    viewedVersion: "0.94.0"
  "spell-check":
    grammars: [
      "source.gfm"
      "text.git-commit"
      "text.plain"
      "text.plain.null-grammar"
    ]
  tabs:
    enableVcsColoring: true
    usePreviewTabs: true
  "tree-view":
    hideIgnoredNames: true
    hideVcsIgnoredFiles: true
    squashDirectoryNames: true
  welcome:
    showOnStartup: false
  whitespace: {}
