"*":
  "activate-power-mode":
    particles:
      enabled: true
      size:
        max: 5
        min: 1
      spawnCount:
        min: 2
    screenShake:
      maxIntensity: 4
      minIntensity: 2
  alignment: {}
  "atom-material-ui":
    colors: {}
    fonts:
      fontSize: 16
    tabs:
      compactTabs: true
    treeView:
      compactList: true
    ui: {}
  "autoclose-html":
    additionalGrammars: [
      "*"
    ]
  autosave:
    enabled: true
  build:
    selectTriggers: false
    stealFocus: false
  core:
    customFileTypes:
      "source.git-config": [
        "gitconfig"
      ]
      "source.plist": [
        "plist"
      ]
    disabledPackages: [
      "exception-reporting"
      "metrics"
      "linter-sass-lint"
      "autoclose-html"
    ]
    ignoredNames: [
      ".git"
      ".svn"
      ".DS_Store"
      ".scssc"
      ".sass-cache"
      ".map"
      ".cache"
      ".pyc"
      ".sqlite3"
      ".exe"
      ".dll"
      ".sublime-workspace"
      ".sublime-projects"
      "bower_components"
      "node_modules"
      "target"
      "resources"
    ]
    projectHome: "~/Projects/"
    themes: [
      "atom-material-ui"
      "atom-material-syntax-dark"
    ]
  editor:
    autoIndentOnPaste: false
    fontFamily: "SourceCodePro-Light"
    fontSize: 13
    invisibles: {}
    showIndentGuide: true
    showInvisibles: true
    softWrap: false
  "find-and-replace": {}
  "fuzzy-finder": {}
  "git-plus": {}
  linter: {}
  "linter-eslint": {}
  "linter-jscs":
    displayAs: "jscs Warning"
    esnext: true
    onlyConfig: true
  "linter-jshint":
    disableWhenNoJshintrcFileInPath: true
  "linter-sass-lint":
    noConfigDisable: true
  "linter-scss-lint":
    disableWhenNoConfigFileInPath: true
  "markdown-preview": {}
  "markdown-writer":
    fileExtension: ".markdown, .md"
  minimap:
    plugins:
      pigments: true
  "package-sync":
    forceOverwrite: true
  "quick-highlight": {}
  "release-notes":
    viewedVersion: "0.94.0"
  "spell-check":
    grammars: [
      "source.gfm"
      "text.git-commit"
      "text.plain"
      "text.plain.null-grammar"
    ]
  tabs:
    enableVcsColoring: true
    usePreviewTabs: true
  "tree-view":
    hideIgnoredNames: true
    squashDirectoryNames: true
  welcome:
    showOnStartup: false
  whitespace: {}
