"*":
  "":
    eslintrc: "source.json"
    nvmrc: "source.json"
  "activate-power-mode":
    autoToggle: false
    particles:
      enabled: true
      size:
        max: 5
        min: 1
      spawnCount:
        min: 2
    plugins:
      playAudio: true
      screenShake: true
    screenShake:
      maxIntensity: 4
      minIntensity: 2
  alignment: {}
  "atom-beautify":
    general:
      _analyticsUserId: "061edd24-4d2e-4dd9-8a6c-145dcb149a67"
    json:
      brace_style: "expand"
      disabled: true
  "atom-easy-jsdoc": {}
  "atom-material-ui":
    colors:
      abaseColor: "#ba3a6e"
      accentColor: "#30de97"
      genAccent: true
      paintCursor: true
      predefinedColor: "Pink"
    fonts:
      fontSize: 14
    tabs:
      compactTabs: true
      noTabMinWidth: true
    treeView:
      blendTabs: false
      compactList: true
    ui:
      panelContrast: true
  "autoclose-html":
    additionalGrammars: [
      "*"
    ]
    forceInline: [
      "title"
      "h1"
      "h2"
      "h3"
      "h4"
      "h5"
      "h6"
      "pre"
    ]
    makeNeverCloseSelfClosing: false
  autosave:
    enabled: true
  build:
    buildOnSave: true
    overrideThemeColors: false
    panelVisibility: "Hidden"
    saveOnBuild: true
    selectTriggers: false
    statusBar: "Disable"
    stealFocus: false
  core:
    closeDeletedFileTabs: true
    customFileTypes:
      "source.git-config": [
        "gitconfig"
      ]
      "source.json": [
        "conf"
      ]
      "source.plist": [
        "plist"
      ]
      "text.html.basic": [
        "pattern"
        "list"
        "item"
        "block"
        "page"
      ]
    disabledPackages: [
      "exception-reporting"
      "metrics"
      "status-bar"
      "npm"
      "markdown-scroll-sync"
      "linter-write-good"
      "regex-railroad-diagram"
      "build-gulp"
      "autoclose-html"
      "autocomplete-html-entities"
      "markdown-toc"
      "wordcount"
      "github"
      "pigments"
      "minimap-pigments"
      "rainbow-selection"
    ]
    ignoredNames: [
      ".git"
      ".svn"
      ".DS_Store"
      ".scssc"
      ".sass-cache"
      "*.map"
      ".cache"
      ".pyc"
      ".sqlite3"
      ".exe"
      ".dll"
      ".sublime-workspace"
      ".sublime-projects"
      "node_modules"
      "bower_components"
      "target"
      ".rej"
      ".codekit-cache"
      ".idea"
      "_archive"
      "_archived"
      "*.jar"
      "*.built.*"
      ".gh-pages"
      "src/hbs/built/index.js"
    ]
    openEmptyEditorOnStart: false
    projectHome: "~/Development/"
    telemetryConsent: "limited"
    themes: [
      "atom-material-ui"
      "cake-syntax"
    ]
    titleBar: "native"
  "custom-title":
    template: "<% if (fileInProject) { %><%= relativeFilePath.replace('src/js/', '') %><% } %><% if (fileInProject && projectPath) { %> - <% } %><% if (projectPath) { %><%= projectName %><% } %>"
  docblockr:
    align_tags: "no"
    lower_case_primitives: true
    newline_after_block: true
  editor:
    fontFamily: "Source Code Pro"
    fontSize: 12
    invisibles: {}
    normalizeIndentOnPaste: true
    showIndentGuide: true
    showInvisibles: true
    softTabs: false
    softWrap: false
    softWrapAtPreferredLineLength: true
  "file-types":
    "^\\..*rc$": "text.plain"
  "foldername-tabs": {}
  "fuzzy-finder":
    preserveLastSearch: true
  "hey-pane":
    expandedWidth: 100
  linter: {}
  "linter-eslint":
    eslintrcPath: "~/.eslintrc"
    globalNodePath: "/Users/cshaver/.nvm/versions/node/v6.6.0"
    useGlobalEslint: true
  "linter-scss-lint":
    configName: ".stylelintrc"
  "linter-ui-default":
    panelRepresents: "Entire Project"
    showProviderName: true
  minimap:
    adjustAbsoluteModeHeight: true
    plugins:
      pigments: true
      pigmentsDecorationsZIndex: 0
  "nord-atom-ui":
    tabSizing: false
  "package-sync":
    createOnChange: true
    forceOverwrite: true
  "pdf-view":
    fitToWidthOnOpen: true
  "plantuml-preview":
    jarLocation: "/Users/cshaver/Development/plantuml/plantuml.jar"
    useTempDir: false
  preview:
    _analyticsUserId: "a55536a5-4e2b-403c-87ae-bfb5aaabfa73"
  "quick-highlight": {}
  "tree-view":
    alwaysOpenExisting: true
    focusOnReveal: false
    hideIgnoredNames: true
    hideVcsIgnoredFiles: true
    squashDirectoryNames: true
  welcome:
    showOnStartup: false
  wordcount: {}
".editorconfig.source":
  editor:
    autoIndentOnPaste: false
".sass.source":
  editor:
    autoIndentOnPaste: true
linter:
  errorPanelHeight: 26
  showErrorPanel: false
"linter-jscs":
  esnext: true
  onlyConfig: true
"linter-jshint":
  disableWhenNoJshintrcFileInPath: true
"linter-json-lint":
  allowComments: true
"linter-sass-lint":
  noConfigDisable: true
"linter-scss-lint":
  disableWhenNoConfigFileInPath: true
"linter-write-good":
  severityLevel: "Info"
"markdown-writer":
  fileExtension: ".markdown, .md"
minimap:
  plugins:
    pigments: true
    pigmentsDecorationsZIndex: 0
    "split-diff": false
    "split-diffDecorationsZIndex": 0
"package-sync":
  forceOverwrite: true
preview:
  _analyticsUserId: "8bef3155-0bbb-46c0-a4e3-3b459eed9c47"
"release-notes":
  viewedVersion: "0.94.0"
"spell-check":
  grammars: [
    "source.gfm"
    "text.git-commit"
    "text.plain"
    "text.plain.null-grammar"
  ]
"split-diff":
  ignoreWhitespace: true
tabs:
  enableVcsColoring: true
  usePreviewTabs: true
"tree-view":
  alwaysOpenExisting: true
  hideIgnoredNames: true
  hideVcsIgnoredFiles: true
  squashDirectoryNames: true
welcome:
  showOnStartup: false
wordcount:
  alwaysOn: true
