# Your keymap
#
# Atom keymaps work similarly to stylesheets. Just as stylesheets use selectors
# to apply styles to elements, Atom keymaps use selectors to associate
# keystrokes with events in specific contexts.
#
# You can create a new keybinding in this file by typing "key" and then hitting
# tab.
#
# Here's an example taken from Atom's built-in keymap:
#
# '.editor':
#   'enter': 'editor:newline'
#
# 'body':
#   'ctrl-P': 'core:move-up'
#   'ctrl-p': 'core:move-down'
#

'body':
  'cmd-k down': 'pane:split-down-and-move-active-item'
  'cmd-k up': 'pane:split-up-and-move-active-item'
  'cmd-k left': 'pane:split-left-and-move-active-item'
  'cmd-k right': 'pane:split-right-and-move-active-item'

'atom-workspace':
  'cmd-b': 'recent-files-fuzzy-finder:toggle-finder'
  'cmd-alt-f': 'custom:fix-file'
  # 'cmd-alt-f': 'linter-eslint:fix-file'
  # 'cmd-ctrl-alt-f': 'EditorConfig:fix-file'

'.find-and-replace':
  'alt-cmd-r': 'find-and-replace:toggle-regex-option'
