packages: [
  "activate-power-mode"
  "advanced-open-file"
  "alignment"
  "atom-beautify"
  "atom-handlebars"
  "atom-material-syntax"
  "atom-material-syntax-dark"
  "atom-material-syntax-light"
  "atom-material-ui"
  "autoclose-html"
  "autocomplete-emojis"
  "autocomplete-html-entities"
  "build"
  "build-gulp"
  "editor-stats"
  "editorconfig"
  "file-type-icons"
  "git-status"
  "language-applescript"
  "language-diff"
  "linter"
  "linter-eslint"
  "linter-jscs"
  "linter-jshint"
  "linter-scss-lint"
  "markdown-folder"
  "markdown-scroll-sync"
  "markdown-toc"
  "markdown-writer"
  "merge-conflicts"
  "minimap"
  "minimap-pigments"
  "new-moon-atom-syntax"
  "open-in-browser"
  "package-sync"
  "pigments"
  "predawn-twilight"
  "preview"
  "quick-highlight"
  "regex-railroad-diagram"
  "sort-lines"
  "svn"
  "tabs-to-spaces"
  "text-pastry"
  "todo"
  "toggle-quotes"
]
