packages: [
  "activate-power-mode"
  "advanced-open-file"
  "alignment"
  "atom-beautify"
  "atom-easy-jsdoc"
  "atom-handlebars"
  "atom-material-ui"
  "atomic-chrome"
  "autoclose-html"
  "autocomplete-emojis"
  "autocomplete-html-entities"
  "build"
  "build-gulp"
  "busy"
  "busy-signal"
  "cake-syntax"
  "custom-title"
  "docblockr"
  "editor-stats"
  "editorconfig"
  "file-type-icons"
  "file-types"
  "foldername-tabs"
  "git-status"
  "git-time-machine"
  "highlight-bad-chars"
  "intentions"
  "language-applescript"
  "language-csv"
  "language-diff"
  "language-generic-config"
  "language-javascript-jsx"
  "language-latex"
  "language-plantuml"
  "language-pug"
  "latex"
  "linter"
  "linter-coffeelint"
  "linter-eslint"
  "linter-jsonlint"
  "linter-php"
  "linter-stylelint"
  "linter-ui-default"
  "linter-write-good"
  "markdown-folder"
  "markdown-scroll-sync"
  "markdown-toc"
  "minimap"
  "minimap-pigments"
  "multi-cursor"
  "open-in-browser"
  "package-sync"
  "pdf-view"
  "pigments"
  "plantuml-preview"
  "pretty-json"
  "preview"
  "quick-highlight"
  "rainbow-selection"
  "recent-files-fuzzy-finder"
  "regex-railroad-diagram"
  "sassdoc"
  "sassdoc-generator"
  "show-invisibles-plus"
  "sort-lines"
  "tablr"
  "tabs-to-spaces"
  "text-pastry"
  "todo"
  "todo-show"
  "toggle-quotes"
  "wordcount"
]
