# Your snippets
#
# Atom snippets allow you to enter a simple prefix in the editor and hit tab to
# expand the prefix into a larger code block with templated values.
#
# You can create a new snippet in this file by typing "snip" and then hitting
# tab.
#
# An example CoffeeScript snippet to expand log to console.log:
#
# '.source.coffee':
#   'Console log':
#     'prefix': 'log'
#     'body': 'console.log $1'
#

'.source.js':
  'Console debug'
    'prefix': 'debug'
    'body': 'console.debug($1);'

'.source.js':
  'For loop':
    'prefix': 'for'
    'body': 'for (let ${2:i} = 0; ${2:i} < ${1:array}.length; ${2:i}++) {\n\tlet ${1:arrIteme${1:array}[${2:i}];$3\'
